body {
  background-color: #191919;
  color: white;
}
nav {
  background-color: #212121;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.gray {
  border: 1px solid gray;
  color: gray;
}

/* .slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
} */
